.wrapper {
    width: 100%;
    background-color: #e9e9e9;
}

.iconWrapper {
    display: flex;
    flex-wrap: wrap;

    .colWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6.625rem;

        div {
            display: flex;
            flex-direction: row;
            p {
                padding: 0 60px 0px 32px;
                align-self: center;
                font-family: lato, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                margin-bottom: 0;
            }

            img {
                height: 60px !important;
                width: 60px !important;
            }
        }
    }
}
